package com.codezzz.mallcore.mapper;

import ${superMapperClassPackage};
import com.baomidou.mybatisplus.core.toolkit.Constants;
import com.codezzz.mallcore.model.entity.${entity};
import org.apache.ibatis.annotations.Param;

/**
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {
    /**
     * 不做空值检查，根据主键强制更新除“created_at”之外的所有字段（可将字段更新为null）
     *
     * @param entity 目标实体对象
     * @return 受影响的数据量
     */
    int alwaysUpdateSomeColumnById(@Param(Constants.ENTITY) ${entity} entity);
}
#end